# PREDIKSI BERAT BADAN

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import joblib

In [2]:
df = pd.read_csv("datasets/weight-height(2).csv")
df

         Height  Gender      Weight
0     73.847017    Male  241.893563
1     68.781904    Male  162.310473
2     74.110105    Male  212.740856
3     71.730978    Male  220.042470
4     69.881796    Male  206.349801
...         ...     ...         ...
9995  66.172652  Female  136.777454
9996  67.067155  Female  170.867906
9997  63.867992  Female  128.475319
9998  69.034243  Female  163.852461
9999  61.944246  Female  113.649103

[10000 rows x 3 columns]

LABELLING ATRIBUT

In [4]:
LE = LabelEncoder()

df.Gender = LE.fit_transform(df.Gender)

In [5]:
df.head()

      Height  Gender      Weight
0  73.847017       1  241.893563
1  68.781904       1  162.310473
2  74.110105       1  212.740856
3  71.730978       1  220.042470
4  69.881796       1  206.349801

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

TRAINING MODEL

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
regressor = LinearRegression()

In [9]:
model = regressor.fit(X_train, y_train) #training the algorithm
print(regressor.intercept_)
print(regressor.coef_)

-244.1707922352415
[ 5.9654452  19.35587352]

In [10]:
regressor.score(X_test, y_test)

0.9006342280437591

In [11]:
accuracy = model.score(X_test, y_test)
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 90.06342280437592%

In [12]:
import math
print('Correlation: ', math.sqrt(regressor.score(X_test,y_test)))

Correlation:  0.9490175067108926

In [13]:
from sklearn import metrics
from sklearn.metrics import r2_score


test_y_ = regressor.predict(X_test)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_ - y_test)))
print("Residual sum of squares (MSE): %.2f" % np.mean((test_y_ - y_test) ** 2))
print("R2-score: %.2f" % r2_score(test_y_ , y_test) )

Mean absolute error: 8.03
Residual sum of squares (MSE): 100.90
R2-score: 0.89

MENYIMPAN MODEL DAN SCALLER

In [14]:
joblib.dump((model), "Weight-prediction-using-linier-regression.pkl")

['Weight-prediction-using-linier-regression.pkl']